<header class="site-header">
  <div class="container">
    <div class="brand">
      <img class="app-icon" src="{{ site.baseurl }}/assets/img/{{ site.image | split: '/assets/img/' | last }}" alt="App icon" />
      <div class="titles">
        <h1 class="app-name">{{ site.title }}</h1>
        <p class="subtitle">{{ site.description }}</p>
        <a class="appstore-button" href="https://apps.apple.com/app/id1541497051" rel="noopener" target="_blank" aria-label="Download on the App Store">
          <span class="apple-logo" aria-hidden="true">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" focusable="false">
              <path d="M19.665 17.078c-.335.77-.734 1.464-1.196 2.08-.63.84-1.148 1.42-1.557 1.74-.623.57-1.29.865-2 .89-.51 0-1.127-.146-1.95-.44-.824-.293-1.58-.44-2.27-.44-.714 0-1.49.147-2.33.44-.84.294-1.43.446-1.78.46-.68.03-1.35-.27-2.01-.9-.44-.36-.978-.96-1.61-1.79-.69-.93-1.255-2.02-1.696-3.26-.48-1.36-.72-2.67-.72-3.93 0-1.45.31-2.71.93-3.78.49-.86 1.14-1.54 1.95-2.04.81-.51 1.68-.77 2.6-.79.51 0 1.18.17 2.02.51.84.34 1.38.52 1.62.52.18 0 .79-.2 1.86-.59 1-.35 1.84-.5 2.5-.47 1.85.15 3.24.88 4.17 2.22-1.66 1.02-2.49 2.45-2.48 4.27.01 1.42.53 2.6 1.55 3.54.46.44.97.78 1.55 1.03-.12.35-.26.69-.41 1.03zM15.87 2.48c0 1.08-.4 2.08-1.18 2.98-.95 1.09-2.1 1.72-3.35 1.62-.02-.13-.03-.27-.03-.42 0-1.04.43-2.07 1.19-2.93.38-.44.86-.81 1.44-1.1.58-.29 1.13-.45 1.65-.49.06.11.1.22.13.34.09.31.15.64.15 1z"/>
            </svg>
          </span>
          <span class="texts">
            <span class="small">Download on the</span>
            <span class="big">App Store</span>
          </span>
        </a>
      </div>
    </div>
    <div class="lang">
      <button class="lang-btn" aria-expanded="false" aria-haspopup="true" aria-label="Change language">
        <svg width="22" height="22" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path d="M12 2a10 10 0 100 20 10 10 0 000-20zm0 18a8 8 0 110-16 8 8 0 010 16zm-.5-14h1v5h-1V6zm0 7h1v1h-1v-1z"/>
        </svg>
      </button>
      <ul class="lang-menu" hidden>
        {%- for l in site.data.languages -%}
        <li><a href="{{ site.baseurl }}{{ l.path }}/" data-lang="{{ l.code }}">{{ l.name }}</a></li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</header>
